@charset "UTF-8";
/*STYLE BROWSER ENTFERNEN*/
/* line 2, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/*##################################   MIXINS/VARIABLEN    ####################################*/
/*STYLE TEXT*/
/* line 49, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.center_text {
  text-align: center;
}

/* line 52, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.ueberschrift {
  font-family: Songti SC;
  color: #263C38;
  font-size: 50px;
  letter-spacing: -1.5px;
  text-align: center;
  padding: 10px;
}

/* line 55, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.unterüberschrift {
  font-family: Songti SC;
  color: #263C38;
  font-size: 30px;
  letter-spacing: -1.5px;
}

/* line 58, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.fliesstext {
  font-family: Europa-Regular;
  color: #263C38;
  font-size: 16px;
  line-height: 1.6;
}

/* line 61, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.kleintext {
  font-family: Europa-Regular;
  color: #263C38;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

@media (max-width: 940px) {
  /* line 65, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .ueberschrift {
    font-size: 40px;
  }
  /* line 68, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .unterüberschrift {
    font-size: 25px;
  }
  /* line 71, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .kleintext {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  /* line 76, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .ueberschrift {
    font-size: 25px;
  }
  /* line 79, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .unterüberschrift {
    font-size: 18px;
    letter-spacing: 1px;
  }
}

/*.a:visited{
  text-decoration: none;
  color: $main_color;
}*/
/*ÜBER UNS*/
/* line 90, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.container_ueberuns_mittig {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

/* line 96, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.container_ueberuns_groß {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  margin: 80px;
}

/* line 103, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.container_ueberuns_klein {
  text-align: center;
}

/* line 106, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.ueberuns_img {
  margin: 30px;
}

/* line 109, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.ueberuns_img:hover {
  border-radius: 100%;
  box-shadow: 0px 0px 20px 10px #b6b9b7;
}

@media (max-width: 1000px) {
  /* line 115, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .ueberuns_img {
    width: 160px;
    height: 160px;
  }
  /* line 119, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .container_ueberuns_mittig {
    margin: 20px;
  }
  /* line 122, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .container_ueberuns_groß {
    margin: 60px;
  }
}

@media (max-width: 750px) {
  /* line 128, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .ueberuns_img {
    width: 130px;
    height: 130px;
  }
  /* line 132, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .container_ueberuns_mittig {
    margin: 0px;
  }
  /* line 135, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .container_ueberuns_groß {
    margin: 40px;
  }
}

@media (max-width: 580px) {
  /* line 140, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .ueberuns_img {
    width: 100px;
    height: 100px;
  }
  /* line 144, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .container_ueberuns_mittig {
    margin: 0px;
  }
  /* line 147, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .container_ueberuns_groß {
    margin: 20px;
  }
}

@media (max-width: 500px) {
  /* line 153, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .ueberuns_img {
    width: 70px;
    height: 70px;
  }
  /* line 157, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .container_ueberuns_mittig {
    margin: 0px;
  }
  /* line 160, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .container_ueberuns_groß {
    margin: 0px;
  }
}

@media (max-width: 450px) {
  /* line 166, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .ueberuns_img {
    width: 50px;
    height: 50px;
  }
  /* line 170, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .container_ueberuns_mittig {
    margin: 0px;
  }
  /* line 173, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .container_ueberuns_groß {
    margin: 40px;
  }
}

/*IMPRESSUM*/
/* line 179, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.container_impressum_groß {
  display: flex;
  justify-content: center;
  margin: 40px;
}

/* line 184, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.container_impressum {
  width: 60%;
}

/*KONTAKT (und auch Komponenten des Rezept-Formulars, weil hier auch die Inputs gebraucht werden*/
/* line 188, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.kontakt input {
  border-radius: 5rem;
  font-size: 1rem;
  max-width: 50%;
  min-width: 20px;
  text-align: center;
  border-color: transparent;
}

/* line 196, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.kontakt textarea, .rezeptformular textarea {
  border-radius: 2rem;
  font-size: 1rem;
  max-width: 50%;
  text-align: center;
  border-color: transparent;
}

/* line 203, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.kontakt input.form-control:focus, .rezeptformular input.form-control:focus, .suchleiste input.form-control:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0.1rem #FC7F16;
}

/* line 207, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.kontakt textarea.form-control:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0.1rem #FC7F16;
}

/* line 211, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.nachricht_zentrieren {
  display: flex;
  justify-content: center;
}

/* line 215, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.form-check-input:checked {
  background-color: #FC7F16;
  border-color: #FC7F16;
}

/* Rezepte-Formular (siehe auch oben bei Kontakt, Styles werden teilweise gemeinsam verwendet*/
/* line 222, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.marginleft_recipe {
  margin-left: 100px;
}

/* line 225, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.rezeptformular .mb-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* line 230, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.rezeptformular input {
  border-radius: 5rem;
  font-size: 1rem;
  width: 150px;
  text-align: center;
  border-color: transparent;
  margin-top: 7px;
  height: 38px;
  padding-right: 10px;
}

/* line 240, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.rezeptformular select {
  border-radius: 5rem;
  font-size: 1rem;
  text-align: center;
  border-color: transparent;
  margin-top: 7px;
  margin-left: 20px;
  height: 38px;
  width: 200px;
}

/* line 250, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
textarea#instruction {
  text-align: start;
  padding: 20px;
}

/* line 254, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
input.add_ingredient {
  background-color: #c8c1bb;
  width: 17px;
  padding-left: 2px;
}

/* line 259, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.categories {
  display: flex;
  flex-direction: row;
  max-width: 700px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

/* line 267, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.dish_type, .restriction, .cuisine, .sondercategories {
  display: flex;
  flex-direction: column;
}

/* line 271, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.checkflex {
  display: flex;
  flex-direction: column;
}

/* line 275, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.check {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* line 280, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.form-check-input:focus {
  border: none;
}

/* line 283, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
input.form-check-input {
  border-radius: .25em;
  width: 20px;
  height: 20px;
  margin: 3px 10px 10px 10px;
}

/* line 289, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.form-outline mb-2 button {
  padding: 2px 20px 2px 13px;
  border-radius: 20px;
  background: #e8e7e2;
  color: #263C38;
  font-size: 15px;
  border: none;
  outline: none;
  margin-top: 20px;
  height: 38px;
}

/* line 300, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.form-outline mb-2 button {
  background-color: #FC7F16;
}

/* line 303, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.form-select:focus {
  border-color: #FC7F16;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* line 308, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.submitrecipe {
  padding: 2px 20px 2px 13px;
  border-radius: 20px;
  background: #e8e7e2;
  color: #263C38;
  font-size: 15px;
  border: none;
  outline: none;
  margin-top: 5px;
}

/* line 318, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.catmargin {
  margin-left: 40px;
}

@media (max-width: 790px) {
  /* line 322, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .marginleft_recipe {
    margin-left: 10px;
  }
}

/*FOOTER inkl. NEWSLETTER*/
/* line 328, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
#footer_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* line 337, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* line 343, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.newsletter input {
  border-radius: 5rem;
  font-size: 1rem;
  text-align: center;
  border-color: transparent;
  width: 80%;
  align-items: center;
}

/* line 351, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.newsletter input.form-control:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0.1rem #FC7F16;
}

/*Login & Register*/
/* line 357, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.account input {
  border-radius: 5rem;
  font-size: 1rem;
  text-align: center;
  border-color: #e7e7e7;
  align-items: center;
}

/* line 365, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.account input.form-control:focus {
  border-color: #e7e7e7;
  box-shadow: 0 0 0 0.1rem #FC7F16;
}

/* line 370, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.card-content {
  border-radius: 1rem;
  padding: 0.5rem 0.5rem;
  text-align: center;
  min-width: 400px;
}

/* line 376, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.card-content:hover {
  box-shadow: 0.5px 0.5px 1rem #b6b9b7;
}

@media (max-width: 940px) {
  /* line 381, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .footer_container {
    flex-direction: column;
    justify-content: space-evenly;
  }
  /* line 385, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .card-content {
    margin: 15px;
  }
}

/*PLATZHALTER BILD STYLE FÜR NEWSLETTER DO*/
/* line 391, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.bild_mittig {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px;
}

/* line 397, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.bild_mittig img {
  border-radius: 50px;
}

@media (max-width: 1450px) {
  /* line 401, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .bild_mittig img {
    width: 1200px;
  }
}

@media (max-width: 1200px) {
  /* line 406, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .bild_mittig img {
    width: 900px;
  }
}

@media (max-width: 1000px) {
  /* line 411, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .bild_mittig img {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* line 416, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .bild_mittig img {
    width: 500px;
  }
}

/*PLATZHALTER BILD STYLE FÜR DO-SEITEN*/
/* line 423, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.bild_mittig_groß {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px;
}

/* line 429, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.bild_mittig_groß img {
  border-radius: 50px;
}

@media (max-width: 1750px) {
  /* line 434, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .bild_mittig_groß img {
    width: 1000px;
  }
}

@media (max-width: 1450px) {
  /* line 440, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .bild_mittig_groß img {
    width: 800px;
  }
}

@media (max-width: 1200px) {
  /* line 445, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .bild_mittig_groß img {
    width: 600px;
  }
}

@media (max-width: 1000px) {
  /* line 450, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .bild_mittig_groß img {
    width: 500px;
  }
}

@media (max-width: 720px) {
  /* line 455, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .bild_mittig_groß img {
    width: 400px;
  }
}

@media (max-width: 500px) {
  /* line 461, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .bild_mittig_groß img {
    width: 250px;
  }
}

@media (max-width: 350px) {
  /* line 467, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .bild_mittig_groß img {
    width: 200px;
  }
}

/*HEADER*/
/* line 474, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
a.navbar_item {
  color: #C06000;
  text-decoration: underline;
}

@media (min-width: 1100px) {
  /* line 479, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

/* line 486, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.form-inline my-2 my-lg-0 {
  flex-wrap: nowrap;
}

/* line 489, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.navbar_bild {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 40px;
  margin-right: 10px;
}

/* line 497, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
a.navbar_item :hover {
  padding: 20px;
  color: #C06000;
  text-decoration: underline;
}

/* line 503, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.rund_xs {
  border-radius: 100%;
  object-fit: cover;
  height: 45px;
  width: 45px;
}

/* line 509, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.rund_xs:hover {
  box-shadow: 5px 5px 15px silver;
  border-radius: 100%;
}

/*STARTSEITE*/
/* line 514, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.container_index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 519, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.container_index_zentrieren {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*BUTTONS*/
/* line 528, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.subscribe-btn {
  padding: 0.5rem 2rem;
  border-radius: 5rem;
  background: linear-gradient(80deg, #ff9966, #FC7F16);
  color: #fff;
  font-size: .7rem;
  border: none;
  outline: none;
}

/* line 537, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.subscribe-btn:hover {
  box-shadow: 5px 5px 15px #b6b9b7;
}

/*BENUTZERPROFIL*/
/* line 542, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.container_cards_left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* line 549, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.mb-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 554, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.deletebutton {
  /*z-index: +1;
  position: absolute;
  left: 890px;*/
  top: 385px;
}

/* line 560, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.positioning {
  position: relative;
}

/*RUNDE BILDER BENUTZERPROFIL*/
/* line 565, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.rund_xl {
  border-radius: 100%;
  object-fit: cover;
  height: 300px;
  width: 300px;
}

@media (max-width: 940px) {
  /* line 572, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .rund_xl {
    width: 200px;
    height: 200px;
  }
}

/*###################################################################################*/
/*##################################   STRUKTUR    ####################################*/
/*###################################################################################*/
/*Kasten der über alles, alles geht*/
/* line 585, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.all {
  background-image: url("pic_collection/background/main.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

/*WRAPPER*/
/* line 595, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.main_wrapper {
  padding: 50px;
  min-height: 2000px;
}

/*CONTAINER (große Boxen, in denen meistens noch Items(kleinere divs) sind)*/
/* line 604, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.container_groß {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}

/* line 611, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.container_xl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-start;*/
  min-width: 100%;
}

/* line 618, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.container_mittig {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*ITEMS (kleinere Boxen, meist gefleeeeext)*/
/* line 626, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.item_klein {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  /*background-color: #7884F2;*/
  text-align: center;
}

/* line 633, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.item_mittel {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  /*background-color: yellow;*/
  text-align: center;
  min-width: 350px;
}

/* line 642, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.profilepicture {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 300px;
}

/*Pills für Cards*/
/* line 650, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.pill_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content: center;*/
  align-items: flex-start;
  align-content: space-evenly;
  margin-bottom: 16px;
  position: absolute;
  bottom: 18%;
  left: 2.1rem;
}

/* line 664, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.pill {
  background-color: #FC7F16;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 50rem;
  font-size: 10px;
}

/*Favorite Icon*/
/* line 678, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.favorite {
  cursor: pointer;
  position: absolute;
  bottom: 12%;
  left: 80%;
}

/* line 685, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.favorite_pill {
  background-color: white;
  text-decoration: none;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 50rem;
  font-size: 10px;
}

/* line 698, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.favorite_pill img {
  width: auto;
  height: 30px;
}

/*Status Do-Seiten*/
/*Ich glaube status_container, text & pic können weg, müsste überall durch andere klassen ersetzt haben!!!*/
/* line 705, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.status_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
}

/* line 714, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.status_text {
  padding: 20px;
}

/* line 718, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.status_pic {
  width: 50%;
  height: auto;
  border-radius: 50px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*SEARCH SITE*/
/* line 728, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.zentrieren_search {
  display: flex;
  justify-content: center;
}

/*CARDS*/
/* line 733, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.container_cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
}

/* line 743, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.cards {
  background-color: white;
  height: 25rem;
  width: 15rem;
  color: rgba(0, 0, 0, 0.55);
  margin: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 16px;
}

/* line 759, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.cards:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

/* line 763, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.cards_img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 100%;
  height: 141px;
  object-fit: cover;
  margin-bottom: 8px;
}

/* line 772, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.cards_body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

/* line 777, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
h5 {
  font-size: 1.25rem;
}

/* line 781, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.cards_title {
  margin-bottom: .5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* line 789, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.cards_text {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

/*VERSUCH FÜR GANZE KARTE LINK; NICHT FERTIG*/
/* line 802, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
h5.cards_title {
  color: gray;
}

/* line 805, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
p.cards_text {
  color: gray;
}

/* Popup box BEGIN */
/* line 810, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.hover_bkgr_fricc {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: none;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10000;
}

/* line 821, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.hover_bkgr_fricc .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* line 826, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.hover_bkgr_fricc > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}

/* line 839, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}

/* line 856, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.popupCloseButton:hover {
  background-color: #ccc;
}

/* line 859, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.trigger_popup_fricc {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
}

/* Popup box BEGIN */
/* REZEPTDETAILSEITE */
/* line 872, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.container_detailview_top {
  font-family: Songti SC;
  color: #263C38;
  font-size: 30px;
  letter-spacing: -1.5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* line 883, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.recipe_title {
  margin-left: 100px;
  margin-bottom: 20px;
  font-family: Songti SC;
  color: #263C38;
  font-size: 50px;
  letter-spacing: -1.5px;
  text-align: center;
  padding: 10px;
  text-align: left;
}

/* line 890, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.recipe_description {
  margin-left: 100px;
  font-family: Songti SC;
  color: #263C38;
  font-size: 30px;
  letter-spacing: -1.5px;
  margin-top: 40px;
  margin-bottom: 30px;
}

/* line 898, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.container_detailview_top_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 100px;
  font-family: Songti SC;
  color: #263C38;
  font-size: 30px;
  letter-spacing: -1.5px;
  font-size: 20px;
}

/* line 907, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.container_profiledata {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  font-family: Songti SC;
  color: #263C38;
  font-size: 30px;
  letter-spacing: -1.5px;
}

/* line 915, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.author_date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Songti SC;
  color: #263C38;
  font-size: 30px;
  letter-spacing: -1.5px;
  font-size: 20px;
}

/* line 922, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.author_date span {
  font-weight: bold;
}

/* line 928, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.cooking_data span {
  font-weight: bold;
}

/* normale Ausgaben aus DB */
/* line 934, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.profilepicture_small {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 100px;
  margin-right: 15px;
}

/* line 941, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.download_save_rec {
  display: flex;
  flex-direction: row;
  margin-left: 0%;
}

/* line 947, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.amountservings {
  margin: 20px 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}

/* line 955, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.amountservings form {
  margin: 20px;
  left: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
}

/* line 964, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.amountservings input {
  margin-left: 20px;
  margin-right: 0px;
  border-style: solid;
  border-right-style: none;
  border-width: 1.3px;
  border-radius: 20px 0 0 20px;
  border-color: #FC7F16;
  max-width: 80px;
  text-align: center;
  height: auto;
  padding: 10px;
}

/* line 977, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.amountservings button {
  padding: 2px 20px 2px 13px;
  border-radius: 0 20px 20px 0;
  background: #FC7F16;
  color: #fff;
  font-size: 15px;
  border: none;
  outline: none;
}

/* line 986, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.amountservings button:hover {
  /*box-shadow: 5px 5px 15px silver;*/
  background-color: #B57340;
}

/* line 990, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.amountservings input:hover {
  /*box-shadow: 5px 5px 15px silver;*/
  border-color: #B57340;
}

/* line 994, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.amountservings input:focus-visible {
  border-color: #B57340;
}

/* line 997, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.amountservings img {
  height: 40px;
  width: 40px;
}

/* line 1001, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.amountservings span {
  font-family: Songti SC;
  color: #263C38;
  font-size: 30px;
  letter-spacing: -1.5px;
  font-size: 20px;
}

/* line 1005, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.ingredients_all {
  margin-left: 100px;
  width: 800px;
}

/* line 1009, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.ingredient {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20%;
}

/* line 1016, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.unit {
  margin: 10px;
}

/* line 1019, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.instruction_title {
  margin-left: 100px;
  margin-top: 40px;
  font-weight: bold;
  font-family: Songti SC;
  color: #263C38;
  font-size: 30px;
  letter-spacing: -1.5px;
  font-size: 20px;
}

/* line 1027, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.recipe_instruction {
  margin: 40px 0 100px 100px;
  width: 800px;
  font-family: Europa-Regular;
  color: #263C38;
  font-size: 16px;
  line-height: 1.6;
}

/* SLideshow */
/* line 1034, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.slideshow-container {
  box-sizing: border-box;
  position: relative;
  object-fit: contain;
  margin-left: 100px;
}

/* line 1041, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.slidesimg {
  object-fit: cover;
  border-radius: 40px;
  width: 600px;
  height: 400px;
  background-color: #c8c1bb;
}

/* line 1049, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.slider_slides {
  /* die images verstecken */
  display: none;
}

/* line 1053, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -45px;
  transition: 0.6s ease;
}

/* line 1061, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.prev img, .next img {
  width: 100px;
}

/* der weiter button kommt nach rechts */
/* line 1066, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.next {
  right: 0;
}

/* line 1070, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.prev:hover, .next:hover {
  /*hier noch was cooles hinzufügen*/
  transition: 0.6s ease;
}

/* line 1075, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.textslider {
  color: #263C38;
  background-color: #e8e7e2;
  border-radius: 30px;
  font-size: 15px;
  padding: 2px 12px;
  position: relative;
  bottom: 50px;
  left: 0%;
  text-align: center;
  letter-spacing: 0.1px;
  max-width: 200px;
  margin: auto;
}

/* Number text (1/3 etc) */
/* line 1091, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.numbertext {
  color: #263C38;
  background-color: #e8e7e2;
  border-radius: 30px;
  font-size: 15px;
  padding: 2px 12px;
  position: absolute;
  top: 15px;
  left: 15px;
  margin: 15px;
}

/* Fading animation */
/* line 1104, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* Sternebewertung */
/* line 1117, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.bewertung label {
  cursor: Pointer;
  height: 20px;
}

/* line 1121, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.bewertung input {
  /*radio button ausblenden*/
  display: None;
}

/* line 1124, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.sternebewertung {
  float: Left;
}

/* line 1127, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.sternebewertung:not(:checked) > input {
  display: None;
}

/* line 1130, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.sternebewertung:not(:checked) > label {
  float: Right;
  width: 35px;
  overflow: Hidden;
  white-space: Nowrap;
  cursor: Pointer;
  font-size: 200%;
  line-height: 1.2;
  color: #D0D0D0;
  text-shadow: 1px 1px #B0B0B0, 2px 2px #606060, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.3);
  transition: all .5s;
}

/* line 1142, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.sternebewertung:not(:checked) > label::before {
  content: '★ ';
}

/* line 1145, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.sternebewertung > input:checked ~ label {
  color: #FC7F16;
  text-shadow: 1px 1px #C06000, 2px 2px #904000, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.3);
  animation: twinkle 2s ease-in-out alternate;
  animation-iteration-count: 1;
}

/* line 1151, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.sternebewertung:not(:checked) > label:hover,
.sternebewertung:not(:checked) > label:hover ~ label {
  color: #FC7F16;
  text-shadow: 1px 1px #F29E02, 2px 2px #B57340, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.3);
}

@keyframes twinkle {
  50% {
    text-shadow: 1px 1px #FFE653, 2px 2px #ffe1bf, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.3);
  }
  100% {
    color: #ff8000;
    text-shadow: 1px 1px #C06000, 2px 2px #904000, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.3);
  }
}

/* Kommentare und Sternebewertungen */
/* line 1169, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.recipe_review {
  box-sizing: border-box;
  font-family: Europa-Regular;
  color: #263C38;
  font-size: 16px;
  line-height: 1.6;
  width: 800px;
  margin-left: 100px;
  background-color: transparent;
  border: 2px solid #c8c1bb;
  border-radius: 30px;
  padding: 20px;
}

/* line 1180, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.recipe_review form {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 1186, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.comment-box {
  width: 400px;
}

/* line 1189, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.comment-box button {
  height: 35px;
}

/* line 1193, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.comment-box textarea {
  background: none;
  border-style: solid;
  border-radius: 30px;
  border-width: 2px;
  border-color: #c8c1bb;
  padding: 20px;
}

/* line 1201, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.comment-box :hover {
  border-color: #FC7F16;
}

/* line 1204, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.comment-box :focus-visible {
  border-color: #FC7F16;
}

/* line 1207, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.comment-box:focus {
  border-color: #FC7F16;
}

/* line 1210, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.form-control form-control-sm:hover {
  background-color: #FC7F16;
}

/* line 1214, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.review_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
}

/* line 1220, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.bewertungfile {
  font-size: 15px;
  margin-top: 20px;
}

/* line 1224, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.bewertungfile input {
  font-size: 16px;
}

/* line 1227, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.recipe_review button {
  padding: 2px 20px 2px 13px;
  border-radius: 20px;
  background: #e8e7e2;
  color: #263C38;
  font-size: 15px;
  border: none;
  outline: none;
  margin-top: 5px;
}

/* line 1237, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.recipe_review button:hover {
  background-color: #FC7F16;
}

/* line 1240, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.comments {
  margin-left: 100px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 800px;
}

/* line 1248, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.single_comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-top: 1px solid #c8c1bb;
  padding: 30px;
}

/* line 1255, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.nocomments {
  margin-left: 100px;
  margin-top: 60px;
  margin-bottom: 40px;
  font-family: Songti SC;
  color: #263C38;
  font-size: 30px;
  letter-spacing: -1.5px;
  font-size: 20px;
}

/* line 1262, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.nocomments a:link {
  text-decoration: none;
  color: #FC7F16;
}

/* line 1267, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
a {
  color: #FC7F16;
}

/* line 1271, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
a:visited {
  color: #FC7F16;
}

/* line 1275, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.nocomments a:hover {
  color: #C06000;
}

/* line 1278, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.commentright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

/* line 1284, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.commentrighttop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}

/* line 1290, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.commentstars {
  height: 35px;
  margin-top: -7px;
}

/* line 1294, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.commentstars img {
  height: 35px;
}

@media (max-width: 1200px) {
  /* line 1298, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .container_detailview_top_right {
    /*margin-top: 40px;*/
  }
}

@media (max-width: 940px) {
  /* line 1303, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .comments, .recipe_instruction, .recipe_review {
    width: 500px;
  }
  /* line 1306, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .recipe_review form {
    justify-content: flex-end;
  }
  /* line 1309, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .review_left {
    margin-bottom: 40px;
  }
  /* line 1312, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .slidesimg {
    width: 500px;
    height: 300px;
  }
  /* line 1316, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .ingredients_all {
    width: 500px;
    margin-top: 60px;
    margin-left: 0px;
  }
  /* line 1321, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .amountservings {
    flex-direction: column;
    align-items: flex-start;
  }
  /* line 1325, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .amountservings input {
    margin-left: 0px;
  }
  /* line 1328, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .amountservings form {
    margin-left: 0px;
  }
}

@media (max-width: 630px) {
  /* line 1333, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .slidesimg {
    width: 400px;
    height: 200px;
  }
  /* line 1337, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .recipe_title {
    font-size: 40px;
  }
  /* line 1340, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .recipe_description {
    font-size: 25px;
    margin-bottom: 5px;
  }
  /* line 1344, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .recipe_instruction {
    width: 400px;
    line-height: 1;
    margin: 20px 0 10px 100px;
  }
  /* line 1349, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .ingredient {
    line-height: 1;
  }
  /* line 1352, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .nocomments {
    font-size: 17px;
    margin-top: 40px;
    width: 400px;
  }
  /* line 1357, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .comments, .recipe_review {
    width: 400px;
  }
}

@media (max-width: 510px) {
  /* line 1362, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .recipe_title, .slideshow-container, .container_detailview_top_right, .recipe_description, .amountservings, .instruction_title, .recipe_instruction, .nocomments, .comments, .recipe_review {
    margin-left: 50px;
  }
  /* line 1366, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .slidesimg {
    width: 400px;
    height: 200px;
  }
  /* line 1370, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .recipe_title {
    font-size: 40px;
  }
  /* line 1373, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .recipe_description {
    font-size: 25px;
    margin-bottom: 5px;
  }
  /* line 1377, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .recipe_instruction {
    width: 400px;
    line-height: 1;
    margin: 20px 0 10px 100px;
  }
  /* line 1382, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .ingredient {
    line-height: 1;
  }
  /* line 1385, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .nocomments {
    font-size: 17px;
    margin-top: 40px;
    width: 400px;
  }
  /* line 1390, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .comments {
    width: 400px;
  }
}

@media (max-width: 350px) {
  /* line 1395, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
  .container_detailview_top_right {
    margin-top: 40px;
  }
}

/*SUCHLEISTE*/
/* line 1401, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.suchleiste input.form-control:focus {
  border-color: transparent;
  box-shadow: black;
}

/* line 1405, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.weite_suchleiste {
  width: 50%;
}

/* line 1408, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.search_button {
  min-width: 90px;
  height: 53px;
  color: #fff;
  background-color: white;
  border-color: white;
  border-radius: 0rem 5rem 5rem 0rem;
}

/* line 1416, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
button.btn.btn-light.dropdown-toggle {
  color: #fff;
  background-color: white;
  border-color: white;
  border-radius: 5rem 0rem 0rem 5rem;
}

/* line 1422, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.dropdown-menu.show {
  display: flex;
  flex-direction: row;
  height: 350px;
  width: 700px;
}

/* line 1428, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: none;
}

/* line 1433, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.dropdown-item:focus, .dropdown-item:hover {
  color: #263C38;
  background-color: #e8e7e2;
}

/* line 1437, ../../../../../PhpstormProjects/noshcuisine/scss/style.scss */
.container_klein {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */